# Copy this file to .env and fill in your values
# Never commit the real .env file to Git!

NODE_ENV=development

PORT=4050

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/<dbname>

# Local frontend URL:   http://localhost:3000
# Live frontend URL:    https://your-live-frontend.com
CLIENT_URL=http://localhost:3000

SESSION_SECRET=change_this_to_a_long_random_string

JWT_SECRET=change_this_to_another_long_random_string
